body {
    min-height: 100vh;
    padding-bottom: 200px;

    /* Fix transparency issues */
    background: white;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    /* transform: translateX(-50%); */
    text-align: right;
    font-size: min(2vw, 2vh);
}

footer img {
    width: min(10vw, 10vh);
    aspect-ratio: 1;
}

.noSee {
    display: none;
}

.vertical-slider {
    writing-mode: vertical-lr;
    direction: rtl;
    width: 28px;
    height: 200px;
}

.vt-ltr {
    direction: ltr;
}

.sliders span {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.slider-label {
    width: 0px;
}

.sliders {
    display: flex;
    gap: 5px;
    align-items: flex-start;
}

.mover-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
}

.mover-selects {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
}

.mover-input-block {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.logo {
    position: absolute;
}